extends layout
block headExtras
  meta(http-equiv="refresh" content="180")

block content
  -for(var device in devices)
    //- TODO Make a better id for these
    div(class="row")
      a(href="/device/"+devices[device].id)
        div(class="col s12 m6 l4")
          -var idTemp = devices[device].id + "temp"
          canvas(id=idTemp height="250vh")
        div(class="col s12 m6 l4")
          -var idHum = devices[device].id + "hum"
          canvas(id=idHum height="250vh")
        div(class="col s12 m6 l4")
          -var idMois = devices[device].id + "mois"
          canvas(id=idMois height="250vh")
      //- h1 !{JSON.stringify(devices[device])}
  //- div(id="sensors" class="row")
  //-   -for(var device in devices)
  //-     div(class="col s12 m6")
  //-       div(class="card-panel purple") 
  //-         span(class="white-text") #{devices[device].deviceId} <br/> Temperature: #{devices[device].temperature} Humidity: #{devices[device].humidity} % Moisture: #{devices[device].moisture} %

block headExtras
  script(type="text/javascript", src="/js/Chart.js")

//- TODO: Move this to an external file and use functions to call this?
block extras
  script.
    let devices = !{JSON.stringify(devices)};
    //- console.log(devices);
    //- console.log(devices[0].date);
    //- console.log(devices[0].temperature);
    devices.forEach((device) => {
      //- console.log(device);
      //- console.log(devices);
      let i = 0;
      let data = [];
      device.date.forEach((date) => {
        let pair = {
          'x': date,
          'y': device.temperature[i]
        };
        data.push(pair);
        i++;
      });
      console.log(data);
      let id = device.id + "temp";
      //- let ctx = document.getElementById(device.id);
      window.id = new Chart(document.getElementById(id), {
        type: 'line',
        data: {
          labels: device.date,
          datasets: [{
            label: "Sensor Data",
            data: data
          }]
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: device.name
          },
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Date/Time'
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Temerature Deg. C'
              }
            }]
          }
        }
      });
    });

    devices.forEach((device) => {
      //- console.log(device);
      //- console.log(devices);
      let i = 0;
      let data = [];
      device.date.forEach((date) => {
        let pair = {
          'x': date,
          'y': device.humidity[i]
        };
        data.push(pair);
        i++;
      });
      console.log(data);
      let id = device.id + "hum";
      //- let ctx = document.getElementById(device.id);
      window.id = new Chart(document.getElementById(id), {
        type: 'line',
        data: {
          labels: device.date,
          datasets: [{
            label: "Sensor Data",
            data: data
          }]
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: device.name
          },
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Date/Time'
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Humidity %'
              }
            }]
          }
        }
      });
    });

    devices.forEach((device) => {
      //- console.log(device);
      //- console.log(devices);
      let i = 0;
      let data = [];
      device.date.forEach((date) => {
        let pair = {
          'x': date,
          'y': device.moisture[i]
        };
        data.push(pair);
        i++;
      });
      console.log(data);
      let id = device.id + "mois";
      //- let ctx = document.getElementById(device.id);
      window.id = new Chart(document.getElementById(id), {
        type: 'line',
        data: {
          labels: device.date,
          datasets: [{
            label: "Sensor Data",
            data: data
          }]
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: device.name
          },
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Date/Time'
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Moisture %'
              }
            }]
          }
        }
      });
    });